@keyframes walk {
  0%{ right: 85%;
  transform: rotate(0deg);}
  50% {
    right: 82%;
    transform: rotate(18deg);
  }
  100%{ right: 78%;
  transform: rotate(10deg);}
}
@keyframes fly {
  0%{
    left: 0%;
    top:  333px;
    }
  100%{
    left: -15%;
    top: 170px;}
}
@keyframes fly2 {
  0%{
    left: 0%;
    top:  310px;
    }
  100%{
    left: 15%;
    top: 173px;}
}
@keyframes stand {
  0%{
      transform: scale(0,0)
    }
  100%{
    animation-timing-function: ease-in;
    transform: scale(100px,50px)
}
}
@keyframes verh {
  0%{
      transform: translate(0,0px)
    }
  100%{
    animation-timing-function: ease-out;
    transform: translate(0,40px)
}
}
@keyframes go {
  0%{
      transform: translate(0,0px)
    }
  100%{
    animation-timing-function: ease-out;
    transform: translate(0,40px)
}
}
@keyframes stir {
  0%{
      transform: rotate(0deg);
      transform: translate(0,0px);
    }
  50%{
    transform: rotate(20deg);
    transform: translate(40,20px);
  }
  100%{
    animation-timing-function: ease-out;
      transform: rotate(0deg);
    transform: translate(0,0px)
}
}
@keyframes light {
  0%{ background-position:   0px 0px;}
  25%{ background-position:  -68px 0px;}
  75%{ background-position:  -136px 0px;}
  100%{ background-position:  -204px 0px;}
}
@keyframes rost {
  0%{ transform: translate(0px,0px)}
  25%{ transform: translate(10px,10px)}
  75%{ transform: translate(10px,-20px)}
  100%{ transform: translate(2px,-22px)}
}
@keyframes rotate {
  0%{
  transform: rotate(0deg);}
  100%{
  transform: rotate(120deg);}
}
@keyframes moon {
  0%{
  transform: rotate(0deg) translate(0px,0px);}
  100%{
  transform: rotate(120deg)  translate(-50px,10px);}
}
@keyframes gone {
  0%{
      transform: translate(0,0px)
    }
  50%{
      transform: translate(100px,0px)
    }
  80%{
      transform: translate(50px,0px)
    }
  100%{
    animation-timing-function: ease-out;
    transform: translate(120px,0px)
}
}
@keyframes gone2 {
  0%{
      transform: translate(0,0px)
    }
  50%{
      transform: translate(30px,0px)
    }
  80%{
      transform: translate(120px,0px)
    }
  100%{
    animation-timing-function: ease-out;
    transform: translate(20px,0px)
}
}
@keyframes gone3 {
  0%{
      transform: translate(0,0px)
    }
  50%{
      transform: translate(-30px,0px)
    }
  80%{
      transform: translate(10px,0px)
    }
  100%{
    animation-timing-function: ease-out;
    transform: translate(-45px,0px)
}
}
@keyframes gone4 {
  0%{
      transform: translate(0,0px)
    }
  50%{
      transform: translate(-50px,0px)
    }
  80%{
      transform: translate(160px,0px)
    }
  100%{
    animation-timing-function: ease-out;
    transform: translate(30px,0px)
}
}
@keyframes gone5 {
  0%{
      transform: translate(0,0px)
    }
  50%{
      transform: translate(-50px,0px)
    }
  80%{
      transform: translate(120px,0px)
    }
  100%{
    animation-timing-function: ease-out;
    transform: translate(55px,0px)
}
}
@keyframes gone6 {
  0%{
      transform: translate(0,0px)
    }
  50%{
      transform: translate(-70px,0px)
    }
  80%{
      transform: translate(-220px,0px)
    }
  100%{
    animation-timing-function: ease-out;
    transform: translate(35px,0px)
}
}
@keyframes batterfly {
  0%{
    transform: scale(0,0)
  }
  100%{
    transform: scale(5px,5px)
  }
}
@keyframes broke {
  0%{
  transform: rotate(0deg) translate(0px,0px);}
  50%{
  transform: rotate(0deg) translate(0px,-30px);}
  100%{
  transform: rotate(4deg)  translate(-75px,10px);}
}
@keyframes vot {
  0%{
      transform: translate(0,0px)
    }
  100%{
    animation-timing-function: ease-out;
    transform: translate(0,-40px)
}
}
