body {
  overflow-x: hidden;
  width: 1920px;
  /*height: 2911px;*/
  margin: 0 auto;
  background-color: #F2F2F2;
}
.b1 {
  margin-left: 87px;
  margin-top: 41px;
  margin-right: 87px;
}
.gif1 {
    position: relative;
    z-index: -2;
    object-fit: cover;
    width: 349px;
    height: 63px;
}
.t1 {
  position: relative;
  z-index: -1;
  margin-left: 50.07px;
  margin-top: 49px;
  font-family: "Century", serif;
  font-weight: 100;
  font-size: 28px;
}
.book1 {
  margin-left: 401.18px;
  position: relative;
  z-index: 1;
  margin-top: -197px;
}
.book2 {
  margin: 0 auto;
  position: absolute;
  z-index: 3;
  margin-left: -49px;
  margin-top: -365px;
}
.t2 {
  position: relative;
  z-index: 4;
  margin-left: 35px;
  margin-top: -478px;
  font-family: "Century", serif;
  font-weight: 100;
  font-size: 44px;
  color: #33374B;
}
.t3 {
  position: relative;
  z-index: 5;
  margin-left: 61px;
  margin-top: 11px;
  font-family: "Century", serif;
  font-weight: 100;
  font-size: 19px;
  color: #33374B;
}
.t4 {
  position: relative;
  z-index: 6;
  margin-left: 47px;
  margin-top: 351px;
  font-family: "Century", serif;
  font-weight: 100;
  font-size: 20px;
  color: #33374B;
}
.book3 {
  position: absolute;
  z-index: 2;
  margin-left: -33px;
  margin-top: -212px;
  background: url('../Проект вариантивы/img/book1.3.png');
  animation: walk 2s alternate infinite;
}
