body {
  overflow-x: hidden;
  width: 1920px;
  /*height: 2911px;*/
  margin: 0 auto;
  background-color: #F2F2F2;
}
.b1 {
  margin-left: 87px;
  margin-top: 41px;
  margin-right: 87px;
}
.gif1 {
    position: relative;
    z-index: -2;
    object-fit: cover;
    width: 349px;
    height: 63px;
}
.t1 {
  position: relative;
  z-index: -1;
  margin-left: 50.07px;
  margin-top: 49px;
  font-family: "Century", serif;
  font-weight: 100;
  font-size: 28px;
}
.book1 {
  margin-left: 401.18px;
  position: relative;
  z-index: 1;
  margin-top: -479px;
}
.book2 {
  margin: 0 auto;
  position: absolute;
  z-index: 3;
  margin-left: -49px;
  margin-top: -365px;
}
.t2 {
  position: relative;
  z-index: 4;
  margin-left: 35px;
  margin-top: -478px;
  font-family: "Century", serif;
  font-weight: 100;
  font-size: 44px;
  color: #33374B;
}
.t3 {
  position: relative;
  z-index: 5;
  margin-left: 61px;
  margin-top: 11px;
  font-family: "Century", serif;
  font-weight: 100;
  font-size: 19px;
  color: #33374B;
}
.t4 {
  position: relative;
  z-index: 6;
  margin-left: 47px;
  margin-top: 351px;
  font-family: "Century", serif;
  font-weight: 100;
  font-size: 20px;
  color: #33374B;
}
.book3 {
  position: absolute;
  z-index: 2;
  margin-left: -33px;
  margin-top: -212px;
  background: url('../Проект вариантивы/img/book1.3.png');
  animation: walk 2s alternate infinite;
}
.p1 {
  width: 233.01px;
  height: 233.01px;
  z-index: 7;
  position: relative;
  margin-left: 114px;
  margin-top: 2px;
}
.p2 {
  width: 128.7px;
  height: 105px;
  z-index: 8;
  position: relative;
  margin-left: 82px;
  margin-top: -56px;
  background: url('../Проект вариантивы/img/pg2.png');
  animation: stir 3s alternate infinite;
}
.book4 {
  margin-left: 796px;
  position: relative;
  z-index: 9;
  margin-top: -465px;

}
.t5 {
  position: relative;
  z-index: 10;

  margin-top: -120px;
  font-family: "Spectral", serif;
  font-weight: 200;
  font-size: 19px;
  color: #7F3A14;
}
.t6 {
  position: relative;
  z-index: 11;

  /*margin-top: 351px;*/
  font-family: "Spectral", serif;
  font-weight: 200;
  font-size: 25px;
  color: #301607;
}
.t7 {
  position: relative;
  z-index: 12;

  /*margin-top: 351px;*/
  font-family: "Spectral", serif;
  font-weight: 200;
  font-size: 20px;
  color: #7F3A14;
}
.bt {
  margin-left: -642px;
}
.book5 {
  max-width: 227.86px;
  max-height: 239px;
  margin-top: -380px;
  margin-left: 60px;
}
.book6 {
  margin-top: -150px;
  z-index: 13;
  position: absolute;
  margin-left: 150px;
  background: url('../Проект вариантивы/img/book2.3.png');
  animation: fly 4s alternate infinite;
}
.book7 {
  margin-top: 30px;
  z-index: 14;
  position: absolute;
  margin-left: 20px;
  background: url('../Проект вариантивы/img/book2.4.png');
  animation: fly2 4s alternate infinite;
}
.p3 {
  width: 159.26px;
  height: 486.14px;
  z-index: 15;
  position: relative;
  margin-left: 1596px;
  margin-top: -438px;
}
.book8 {
  margin-left: 1193.18px;
  position: relative;
  z-index: 16;
  margin-top: -325px;
}
.t8 {
  position: relative;
  z-index: 17;
  /*margin-top: 351px;*/
  font-family: "Apoc-Apoc-Full-Variable-Trial", serif;
  font-weight: 500;
  font-size: 35px;
  color: #C48643;
}
.t9 {
  position: relative;
  z-index: 18;
  margin-top: 269px;
  font-family: "Apoc-Apoc-Full-Variable-Trial", serif;
  font-weight: 500;
  font-size: 26px;
  color: #C48643;
  font-style: italic;
}
.t10 {
  position: relative;
  z-index: 19;
  margin-top: 4px;
  font-family: "Apoc-Apoc-Full-Variable-Trial", serif;
  font-weight: 500;
  font-size: 26px;
  color: #C48643;
  letter-spacing: 1px;
}
.bt2 {
  margin-left: -234px;
  margin-top: -455px;
}
.book9 {
  position: absolute;
  z-index: 21;
  margin-top: -304px;
  margin-left: 38px;
}
.book10 {
  position: absolute;
  z-index: 20;
  margin-top: -267px;
  margin-left: 89px;
  background: url('../Проект вариантивы/img/book2.4.png');
  animation: stand 3s alternate infinite;
}
.b2 {
  margin-left: 87px;
  margin-top: 565.62px;
  margin-right: 87px;
}
.book11 {
    z-index: 22;
    position: absolute;
}
.book12 {
    z-index: 23;
    position: relative;
    margin-left: 559px;
    margin-top: -506px;
}
.t11 {
  position: relative;
  z-index: 24;
  margin-top: -481px;
  font-family: "Apoc-Apoc-Full-Variable-Trial", serif;
  font-weight: 500;
  font-size: 25px;
  letter-spacing: 2px;
  line-height: 1;
  margin-left: 37.42px;
}
.t12 {
  position: relative;
  z-index: 24;
  margin-top: 10px;
  font-family: "Apoc-Apoc-Full-Variable-Trial", serif;
  font-size: 14px;
  font-style: italic;
  margin-left: 37.42px;
}
.book13 {
  z-index: 25;
  position: absolute;
  margin-left: 77px;
  margin-top: 30px;
  background: url('../Проект вариантивы/img/book5.2.png');
  animation: verh 3s alternate infinite;
}
.book14 {
  z-index: 26;
  position: absolute;
  margin-left: 29px;
  margin-top: 30px;
  background: url('../Проект вариантивы/img/book5.3.png');
  animation: go 4s alternate infinite;
}
.book15 {
    z-index: 27;
    position: relative;
    margin-left: 961px;
    margin-top: -130px;
}
.t13 {
  position: relative;
  z-index: 28;
  margin-top: -464px;
  font-family: "Apoc-Apoc-Full-Variable-Trial", serif;
  font-size: 21px;
  color: #6F3311;
  margin-left: -455px;
}
.t14 {
  position: relative;
  z-index: 29;
  margin-top: 10px;
  font-family: "Apoc-Apoc-Full-Variable-Trial", serif;
  font-size: 25px;
  color: #6F3311;
  margin-left: -457px;
}
.book16 {
    z-index: 30;
    position: relative;
    margin-left: 41.3px;
    margin-top: 24.97px;
}
.book17 {
    display: block;
    z-index: 31;
    position: relative;
    margin-left: 48.3px;
    margin-top: -307.03px;
    width: 220.89px;
    height: 248.74px;
    background: url('../Проект вариантивы/img/book6.3.png');
    animation: light .3s steps(3)  infinite;
}
.book18 {
    z-index: 32;
    position: relative;
    margin-left: 1378px;
    margin-top: -394px;
}
.t15 {
  transform: rotate(7deg);
  position: relative;
  z-index: 33;
  margin-top: -490px;
  font-family: "Book Antiqua", serif;
  font-size: 19px;
  color: #4F6267;
  margin-left: 2px;
  line-height: 0.9;
}
.t16 {
  transform: rotate(7deg);
  position: relative;
  z-index: 34;
  margin-top: 15px;
  font-family: "Book Antiqua", serif;
  font-size: 25px;
  color: #4F6267;
  margin-left: -24px;
  line-height: 0.9;
}
.t17 {
  transform: rotate(7deg);
  position: relative;
  z-index: 35;
  margin-top: 10px;
  font-family: "Book Antiqua", serif;
  font-size: 15px;
  color: #4F6267;
  margin-left: -28px;
  line-height: 1.2;
}
.book19 {
    z-index: 36;
    position: relative;
    margin-left: 90px;
    margin-top: 74px;
}
.book20 {
    z-index: 37;
    position: relative;
    margin-left: 61px;
    margin-top: -228px;
    background: url('../Проект вариантивы/img/book7.4.png');
    animation: rost 5s alternate infinite;
}
.book21 {
    z-index: 38;
    position: relative;
    margin-left: 137px;
    margin-top: -138px;
    background: url('../Проект вариантивы/img/book7.4.png');
    animation: rost 5s alternate-reverse infinite;
}
.book22 {
    z-index: 39;
    position: relative;
    margin-left: 12px;
    margin-top: -77px;
}
.b3 {
  margin-left: 87px;
  margin-top: 60.62px;
  margin-right: 87px;
}
.t18 {
  position: relative;
  z-index: 40;
  margin-top: -487px;
  font-family: "Bebas Neue Pro", sans-serif;
  font-size: 22px;
  color: #FFFFFF;
  margin-left: 81px;
  line-height: 1.2;
}
.t19 {
  position: relative;
  z-index: 41;
  margin-top: 325px;
  font-family: "Bebas Neue Pro", sans-serif;
  font-size: 22px;
  color: #FFFFFF;
  margin-left: 62px;
  line-height: 1.2;
}
.t20 {
  position: relative;
  z-index: 42;
  margin-top: -1px;
  font-family: "Bebas Neue Pro", sans-serif;
  font-size: 49px;
  color: #FFFFFF;
  margin-left: 73px;
  line-height: 0.8;
}
.t21 {
  position: relative;
  z-index: 42;
  margin-top: -1px;
  font-family: "Bebas Neue Pro", sans-serif;
  font-size: 49px;
  color: #FFFFFF;
  margin-left: 86px;
  line-height: 0.8;
}
.book24{
  z-index: 43;
  position: relative;
  margin-left: 92px;
  margin-top: -312px;
}
.book25{
  z-index: 44;
  position: absolute;
  margin-left: 53px;
  margin-top: -178px;
  background: url('../Проект вариантивы/img/book8.3.png');
  animation: rotate 3s alternate infinite;
}
.book26{
  z-index: 45;
  position: absolute;
  margin-left: 119px;
  margin-top: 39px;
  background: url('../Проект вариантивы/img/book8.4.png');
  animation: rotate 3s alternate-reverse infinite;
}
.book27{
  z-index: 46;
  position: absolute;
  margin-left: 114px;
  margin-top: -131px;
  background: url('../Проект вариантивы/img/book8.3.png');
  animation: moon 3s alternate infinite;
}
.book28{
  z-index: 47;
  position: relative;
  margin-left: 22px;
  margin-top: -195px;
}
.book29 {
  z-index: 48;
  position: relative;
  margin-left: 329px;
  margin-top: -356px;
}
.book30 {
  z-index: 49;
  position: relative;
  margin-left: 1196px;
  margin-top: -519px;
}
.t22 {
  position: relative;
  z-index: 50;
  margin-top: -323px;
  font-family: "Century Gothic", sans-serif;
  font-size: 17px;
  color: #F8EFEA;
  margin-left: 194px;
}
.t23 {
  position: relative;
  z-index: 50;
  margin-top: 90px;
  font-family: "Century Gothic", sans-serif;
  font-size: 31px;
  color: #F8EFEA;
  margin-left: 125px;
}
.t24 {
  position: relative;
  z-index: 50;
  margin-top: 6px;
  font-family: "Century Gothic", sans-serif;
  font-size: 19px;
  color: #F8EFEA;
  margin-left: 188px;
}
.book31 {
  z-index: 58;
  position: relative;
  margin-left: 36px;
  margin-top: -24px;
}
.book32 {
  z-index: 56;
  position: relative;
  margin-left: 99px;
  margin-top: -89px;
  background: url('../Проект вариантивы/img/book10.3.png');
  animation: gone 3s alternate infinite;
}
.book33 {
  z-index: 55;
  position: relative;
  margin-left: 140px;
  margin-top: -74px;
  background: url('../Проект вариантивы/img/book10.4.png');
  animation: gone2 3s alternate infinite;
}
.book34 {
  z-index: 54;
  position: relative;
  margin-left: 173px;
  margin-top: -86px;
  background: url('../Проект вариантивы/img/book10.5.png');
  animation: gone3 3s alternate infinite;
}
.book35 {
  z-index: 53;
  position: relative;
  margin-left: 211px;
  margin-top: -58px;
  background: url('../Проект вариантивы/img/book10.6.png');
  animation: gone4 3s alternate infinite;
}
.book36 {
  z-index: 51;
  position: relative;
  margin-left: 237px;
  margin-top: -69px;
  background: url('../Проект вариантивы/img/book10.7.png');
  animation: gone5 3s alternate infinite;
}
.book37 {
  z-index: 52;
  position: relative;
  margin-left: 308px;
  margin-top: -105px;
  background: url('../Проект вариантивы/img/book10.8.png');
  animation: gone6 3s alternate infinite;
}
.book38 {
  z-index: 57;
  position: relative;
  margin-left: 372px;
  margin-top: -177px;
}
.book39 {
  z-index: 59;
  position: relative;
  margin-left: 43px;
  margin-top: -205px;
}
