@media only screen and (min-device-width: 320px) and (max-device-width: 480px){
  body {
    min-width: 414px;
    overflow-x: hidden;
    margin: 0 auto;
  }
  .gif1 img{
    width: 336px;
    height: 121px;
  }
  .b1 {
  margin-left: 13px;
  margin-top: 41px;
  margin-right: 0px;
  }
  .t1 {
    margin-left: 31px;
    margin-top: 7px;
    font-size: 27px;
  }
  .book1 {
    margin-left: 31px;
    margin-top: 94px;
  }
  .book2 img{
    width: 327.65px;
    height: 247.9px;
  }
  .book2 {
    margin-left: -41px;
    margin-top: -304px;
  }
  .t2 {
    letter-spacing: 0.11em;
    position: relative;
    z-index: 4;
    margin-left: 24px;
    margin-top: -427px;
    font-family: "Century", serif;
    font-weight: 100;
    font-size: 40px;
    color: #33374B;
  }
  .t3 {
    position: relative;
    z-index: 5;
    margin-left: 48px;
    margin-top: 11px;
    font-family: "Century", serif;
    font-weight: 100;
    font-size: 18px;
    color: #33374B;
  }
  .t4 {
    position: relative;
    z-index: 6;
    margin-left: 47px;
    margin-top: 302px;
    font-family: "Century", serif;
    font-weight: 100;
    font-size: 18px;
    color: #33374B;
  }
  .book3 img{
    width: 279.58px;
    height: 127.73px;
  }
  .book3 {
    margin-right: 9px;
    margin-top: -109px;
  }
  .p1 img{
    width: 346.66px;
    height: 346.66px;
  }
  .p1 {
    margin-left: -6px;
    margin-top: 5px;
  }
  .book4 {
    margin-left: 31px;
    margin-top: 37px;
  }
  .cont2 img{
    width: 331.05px;
    height: 529.69px;
  }
  .t39 {
    position: relative;
    z-index: 93;
    margin-left: 9.07px;
    margin-top: 114px;
    font-family: "Century", serif;
    font-weight: 100;
    font-size: 23px;
  }
  .cont1 img{
    width: 331.21px;
    height: 500.78px;
  }
  .p2 img{
    width: 190.25px;
    height: 160.85px;
  }
  .p2 {
    margin-left: -13px;
    margin-top: -58px;
  }
  .t5 {
    margin-left: 228px;
    position: relative;
    z-index: 10;
    margin-top: -131px;
    font-family: "Spectral", serif;
    font-weight: 200;
    font-size: 15px;
    color: #7F3A14;
  }
  .t6 {
    margin-left: 230px;
    position: relative;
    z-index: 11;
    /*margin-top: 351px;*/
    font-family: "Spectral", serif;
    font-weight: 200;
    font-size: 23px;
    color: #301607;
  }
  .t7 {
    margin-left: 232px;
    position: relative;
    z-index: 12;

    /*margin-top: 351px;*/
    font-family: "Spectral", serif;
    font-weight: 200;
    font-size: 15px;
    color: #7F3A14;
  }
  .book5 img{
    width: 252px;
    height: 264.32px;
  }
  .book5 {
    margin-left: 58px;
    margin-top: -350px;
  }
  .book6 {
    margin-top: -157px;
    margin-left: 139px;
  }
  .book6 img{
    width: 181px;
    height: 132px;
  }
  .book7 {
    margin-top: 30px;
    margin-left: 20px;
  }
  .book7 img{
    width: 181px;
    height: 132px;
  }
  .p3 {
    margin-left: 205px;
    margin-top: -1099px;
  }
  .p3 img{
    width: 108.89px;
    height: 334.47px;

  }
  .cont3 img{
    width: 331.05px;
    height: 500.53px;
  }
  .book8 {
    margin-left: 26.18px;
    margin-top: 722px;
  }
  .t8 {
    margin-left: -197px;
    position: relative;
    z-index: 17;
    font-family: "Apoc", serif;
    font-weight: 500;
    font-size: 28px;
    color: #C48643;
  }
  .t9 {
    margin-left: -189px;
    position: relative;
    z-index: 18;
    margin-top: 269px;
    font-family: "Apoc", serif;
    font-weight: 500;
    font-size: 20px;
    color: #C48643;
    font-style: italic;
  }
  .t10 {
    margin-left: -184px;
    position: relative;
    z-index: 19;
    margin-top: 4px;
    font-family: "Apoc", serif;
    font-weight: 500;
    font-size: 22px;
    color: #C48643;
    letter-spacing: 1px;
  }
  .book9 img{
    width: 259.68px;
    height: 228.96px;
  }
  .book9 {
    margin-left: 32px;
    margin-top: -288px;
  }
  .book10 {
    margin-top: -267px;
    margin-left: 89px;
  }
  .book10 img{
    width: 55.5px;
    height: 55.5px;
  }
  .book11 img{
    display: none;
  }
  .book11 {
    display: none;
  }
  .cont4 img{
    width: 331.05px;
    height: 500.53px;
  }
  .book12 {
      margin-left: -49px;
      margin-top: -393px;
  }
  .t11 {
    position: relative;
    z-index: 24;
    margin-top: -481px;
    font-family: "Apoc", serif;
    font-weight: 500;
    font-size: 25px;
    letter-spacing: 2px;
    line-height: 1;
    margin-left: 37.42px;
  }
  .t12 {
    position: relative;
    z-index: 24;
    margin-top: 10px;
    font-family: "Apoc", serif;
    font-size: 10px;
    font-style: italic;
    margin-left: 37.42px;
  }
  .book13 {
    margin-left: 77px;
    margin-top: 30px;
  }
  .book13 img{
    width: 170.48px;
    height: 284.16px;
  }
  .book14 {
    margin-left: 29px;
    margin-top: 30px;
  }
  .book14 img{
    width: 262.66px;
    height: 294.37px;
  }
  .cont5 img{
    width: 331.21px;
    height: 500.78px;
  }
  .book15 {
      margin-left: -50px;
      margin-top: 419px;
  }
  .t13 {
    position: relative;
    z-index: 28;
    margin-top: -464px;
    font-family: "Apoc-Apoc-Full-Variable-Trial", serif;
    font-size: 20px;
    color: #6F3311;
    margin-left: -345px;
  }
  .t14 {
    position: relative;
    z-index: 29;
    margin-top: 10px;
    font-family: "Apoc-Apoc-Full-Variable-Trial", serif;
    font-size: 22px;
    color: #6F3311;
    margin-left: -327px;
  }
  .book16 img{
    width: 242.95px;
    height: 346.09px;
  }
  .book16 {
    margin-left: 41.3px;
    margin-top: 24.97px;
  }
  .book17 img{
    width: 228.08px;
    height: 256.84px;
  }
  .book17 {
    margin-left: 48.3px;
    margin-top: -307.03px;
  }
  .cont6 img{
    width: 331.05px;
    height: 605.72px;
  }
  .book18 {
      transform: rotate(0deg);
      margin-left: -50px;
      margin-top: 87px;
  }
  .t15 {
    position: relative;
    z-index: 33;
    margin-top: -467px;
    font-family: "Book Antiqua", serif;
    font-size: 15px;
    color: #4F6267;
    margin-left: -379px;
    line-height: 0.9;
  }
  .t16 {
    position: relative;
    z-index: 34;
    margin-top: 16px;
    font-family: "Book Antiqua", serif;
    font-size: 21px;
    color: #4F6267;
    margin-left: -378px;
    line-height: 0.9;
  }
  .t17 {
    position: relative;
    z-index: 35;
    margin-top: 17px;
    font-family: "Book Antiqua", serif;
    font-size: 15px;
    color: #4F6267;
    margin-left: -372px;
    line-height: 1.2;
  }
  .book19 {
      margin-left: 90px;
      margin-top: 66px;
  }
  .book19 img{
    width: 87.56px;
    height: 314.25px;
  }
  .book20 {
      margin-left: 42px;
      margin-top: -216px;
  }
  .book20 img{
    width: 125.94px;
    height: 73.17px;
  }
  .book21 {
      margin-left: 110px;
      margin-top: -150px;
  }
  .book21 img{
    width: 125.94px;
    height: 73.17px;
  }
  .book22 {
      margin-left: 12px;
      margin-top: -43px;
  }
  .book22 img{
    width: 272.27px;
    height: 362.23px;
  }
  .cont7 img{
    width: 331.06px;
    height: 597.09px;
  }
  .book23 {
    margin-left: -46px;
    margin-top: 162.38px;
    margin-right: 109px;
  }
  .t18 {
    margin-right: -223px;
    position: relative;
    z-index: 40;
    margin-top: -487px;
    font-family: "Didona", sans-serif;
    font-size: 18px;
    color: #FFFFFF;
    margin-left: 66px;
    line-height: 1.2;
  }
  .t19 {
    margin-right: -176px;
    position: relative;
    z-index: 41;
    margin-top: 325px;
    font-family: "Didona", sans-serif;
    font-size: 17px;
    color: #FFFFFF;
    margin-left: 67px;
    line-height: 1.2;
  }
  .t20 {
    position: relative;
    z-index: 42;
    margin-top: 6px;
    font-family: "Didona", sans-serif;
    font-size: 41px;
    color: #FFFFFF;
    margin-left: 57px;
    line-height: 0.8;
  }
  .t21 {
    position: relative;
    z-index: 42;
    margin-top: 8px;
    font-family: "Didona", sans-serif;
    font-size: 41px;
    color: #FFFFFF;
    margin-left: 76px;
    line-height: 0.8;
  }
  .book24{
    margin-left: 92px;
    margin-top: -312px;
  }
  .book24 img{
    width: 98.38px;
    height: 168px;
  }
  .book25{
    margin-left: 53px;
    margin-top: -178px;
  }
  .book25 img{
    width: 26.6px;
    height: 26.6px;
  }
  .book26{
    margin-left: 119px;
    margin-top: 39px;
  }
  .book26 img{
    width: 33.38px;
    height: 33.38px;
  }
  .book27{
    margin-left: 114px;
    margin-top: -131px;
  }
  .book27 img{
    width: 83.95px;
    height: 141.88px;
  }
  .book28{
    margin-left: 22px;
    margin-top: -195px;
  }
  .book28 img{
    width: 279.03px;
    height: 334.6px;
  }
  .book29 {
    transform: rotate(50.92deg);
    margin-left: -300px;
    margin-top: -313px;
  }
  .book29 img{
    width: 796.24px;
    height: 516.2px;
  }
  .book30 {
    display: none;
  }
  .cont8 img{
    display: none;
  }
  .t22 {
    display: none;
  }
  .t23 {
    display: none;
  }
  .t24 {
    display: none;
  }
  .book31 {
    display: none;
  }
  .book31 img{
    display: none;
  }
  .book32 {
    display: none;
  }
  .book32 img{
    display: none;
  }
  .book33 {
    display: none;
  }
  .book33 img{
    display: none;
  }
  .book34 {
    display: none;
  }
  .book34 img{
    display: none;
  }
  .book35 {
    display: none;
  }
  .book35 img{
    display: none;
  }
  .book36 {
    display: none;
  }
  .book36 img{
    display: none;

  }
  .book37 {
    display: none;
  }
  .book37 img{
    display: none;
  }
  .book38 {
    display: none;
  }
  .book38 img{
    display: none;
  }
  .book39 {
    display: none;
  }
  .book39 img{
    display: none;
  }
  .book40 {
    display: none;
  }
  .book41 {
    margin-left: -45px;
    margin-top: -17.62px;
  }
  .cont9 img{
    width: 331.21px;
    height: 500.78px;
  }
  .t25 {
    position: relative;
    z-index: 62;
    margin-top: -450px;
    font-family: "Spectral", serif;
    font-size: 33px;
    color: #B7D7E0;
    margin-left: 107px;
  }
  .t26 {
    position: relative;
    z-index: 62;
    margin-top: -1px;
    font-family: "Spectral", serif;
    font-size: 33px;
    color: #B7D7E0;
    margin-left: 112px;
  }
  .t27 {
    position: relative;
    z-index: 63;
    margin-top: 6px;
    font-family: "Times New Roman", serif;
    font-size: 15px;
    color: #B7D7E0;
    margin-left: 79px;
  }
  .book42 {
    margin-left: 25px;
    margin-top: -6px;
  }
  .book42 img{
    width: 162.71px;
    height: 132.88px;
  }
  .book43 {
    margin-left: 151px;
    margin-top: 125px;
  }
  .book43 img{
    width: 118.27px;
    height: 96.66px;
  }
  .book44 {
    margin-left: 28px;
    margin-top: 197px;
  }
  .book44 img{
    width: 112.47px;
    height: 91.62px;
  }
  .book45 {
    margin-left: 38px;
    margin-top: 25px;
  }
  .book45 img{
    width: 235.02px;
    height: 284.6px;
  }
  .book46 {
    margin-left: -37px;
    margin-top: 81px;
  }
  .cont10 img{
    width: 235.02px;
    height: 284.6px;
  }
  .cont11 img{
    display: none;
  }
  .book47 {
    display: none;
  }
  .book48 {
    transform: rotate(0deg);
    margin-left: 669px;
    margin-top: -75px;
  }
  .book48 img{
    width: 562px;
    height: 1042.29px;
  }
  .b5 {
    margin-left: -40px;
    margin-top: -244.38px;
  }
  .cont12 img{
    width: 611.53px;
    height: 451.43px;
  }
  .t28 {
    position: relative;
    z-index: 69;
    margin-top: -340px;
    font-family: "Times New Roman", serif;
    font-size: 18px;
    color: #E9CFC1;
    margin-left: 69px;
  }
  .t29 {
    position: relative;
    z-index: 70;
    margin-top: 15px;
    font-family: "Times New Roman", serif;
    font-size: 18px;
    color: #E9CFC1;
    margin-left: 69px;
  }
  .t30 {
    position: relative;
    z-index: 71;
    margin-top: 4px;
    font-family: "Times New Roman", serif;
    font-size: 18px;
    color: #E9CFC1;
    margin-left: 70px;
  }
  .book50 {
    margin-left: 140px;
    margin-top: 14px;
  }
  .book50 img{
    width: 305.77px;
    height: 286.51px;
  }
  .book53 {
    margin-left: 66px;
    margin-top: -11px;
  }
  .book53 img{
    width: 451.43px;
    height: 311.78px;
  }
  .t31 {
    position: relative;
    z-index: 77;
    margin-top: -447px;
    font-family: "Times New Roman", serif;
    font-size: 32px;
    color: #ECEFE7;
    margin-left: 78px;
  }
  .t32 {
    position: relative;
    z-index: 78;
    margin-top: -1px;
    font-family: "Times New Roman", serif;
    font-size: 32px;
    color: #ECEFE7;
    margin-left: 64px;
  }
  .t33 {
    position: relative;
    z-index: 79;
    margin-top: -1px;
    font-family: "Times New Roman", serif;
    font-size: 32px;
    color: #ECEFE7;
    margin-left: 97px;
  }
  .t34 {
    position: relative;
    z-index: 80;
    margin-top: 11px;
    font-family: "Times New Roman", serif;
    font-size: 22px;
    color: #ECEFE7;
    margin-left: 92px;
  }
  .book54 {
    margin-left: 0px;
    margin-top: 323px;
  }
  .cont13 img{
    width: 331.05px;
    height: 500.53px;
  }
  .book55 {
    margin-left: 65px;
    margin-top: -118px;
  }
  .book55 img{
    width: 164.53px;
    height: 336px;
  }
  .book56 {
    margin-left: 185px;
    margin-top: -154px;
  }
  .book56 img{
    width: 91.19px;
    height: 91.19px;
  }
  .book57 {
    margin-left: 177px;
    margin-top: -261px;
  }
  .book57 img{
    width: 91.19px;
    height: 91.19px;
  }
  .book58 {
    margin-left: 34px;
    margin-top: 54px;
  }
  .book58 img{
    width: 138.76px;
    height: 138.76px;
  }
  .book59 {
    margin-left: 33px;
    margin-top: -38px;
  }
  .book59 img{
    width: 171.47px;
    height: 86.23px;
  }
  .book60 {
    margin-left: 129px;
    margin-top: -151px;
  }
  .book60 img{
    width: 130.83px;
    height: 31.72px;
  }
  .book61 {
    margin-left: 70px;
    margin-top: 126px;
  }
  .book61 img{
    width: 156.6px;
    height: 29.73px;
  }
  .cont14 img{
    width: 331.05px;
    height: 500.53px;
  }
  .book62 {
    margin-left: 360px;
    margin-top: -395px;
  }
  .book63 {
    margin-left: 113px;
    margin-top: -426px
  }
  .book63 img{
    width: 61.45px;
    height: 61.45px;
  }
  .book64 {
    margin-left: 49px;
    margin-top: -369px;
  }
  .book64 img{
    width: 75.33px;
    height: 75.33px;
  }
  .book65 {
    margin-left: 29px;
    margin-top: -288px;
  }
  .book65 img{
    width: 102.09px;
    height: 102.09px;
  }
  .book66 {
    margin-left: 87px;
    margin-top: -197px;
  }
  .book66 img{
    width: 149.66px;
    height: 150.66px;
  }
  .t35 {
    position: relative;
    z-index: 93;
    margin-top: -152px;
    font-family: "Spectral", serif;
    font-size: 28px;
    color: #F8EFEA;
    margin-left: 99px;
  }
  .t36 {
    position: relative;
    z-index: 93;
    margin-top: -6px;
    font-family: "Spectral", serif;
    font-size: 28px;
    color: #F8EFEA;
    margin-left: 100px;
    margin-right: -24px;
  }
  .t37 {
    position: relative;
    z-index: 93;
    margin-top: 5px;
    font-family: "Spectral", serif;
    font-size: 13px;
    color: #F8EFEA;
    margin-left: 117px;
    margin-right: 2px;
  }
  .t38 {
    margin-right: -41px;
    position: relative;
    z-index: 93;
    margin-top: 1px;
    font-family: "Spectral", serif;
    font-size: 13px;
    color: #F8EFEA;
    margin-left: 117px;
  }
  .book67 {
    margin-left: 18px;
    margin-top: -349px;
  }
  .book67 img{
    width: 197.24px;
    height: 415.3px;
  }
  .b6 {
    margin-left: 87px;
    margin-top: 399.62px;
  }
  .book68 {
    margin-left: -116px;
    margin-top: -290px;
  }
  .book68 img{
    width: 210.14px;
    height: 38px;
  }
  .book69 {
    margin-left: 45px;
    margin-top: -256px;
  }
  .book69 img{
    width: 258.82px;
    height: 303.44px;
  }
  .t40 {
    display: none;
  }
}
